<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Projeto Questions</h1>
    </div>
    <div>
        <h2>
            Olá
        </h2>
        <h3> Eu sei, eu sei... Cálculo é osso. Principalmente se o professor é pregruiçoso, mas vai por mim, vai da pra passar. Trabalho em equipe é fundamental</h3>
    </div>
    <div>
        <h4>Esse projeto é uma pequena ajudinha pra criar um banco de perguntas e respostas, abaixo seguem alguns links</h4>
        <ul>
            <li>
                <a href="https://compuff-calculus-questions.herokuapp.com/swagger-ui/">
                    Documentação do projeto - já dá pra executar direto da doc
                </a>
            </li>
            <li>
                <a href="https://github.com/joaoluis89/calculus-uff">Repositório do projeto no github</a>
            </li>
        </ul>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ENBv2i88g6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
<div>
    <a>Duvidas só dar um ping na Mila ou no meu </a>
    <a href="mailto:joao.luis.pacheco@alumni.usp.br">email</a>
</div>
</body>
</html>